
img, embed,
object, video{

}

nav a, button{
    min-width:48px;
    min-height:48px;
}

/*
################
  HEADER SECTION
################
*/
.title {
    width:100%;
    display: flex;
    margin-left:0px;
    margin-right:0px;
}

.logo{
    width:75%;

}

.header-title{
    width:100%;
    text-align:right;
    margin-right: 16px;
}

.title h1 {
    width:100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right:100px;
    color:#2d3c49;
    font-weight:normal;
    letter-spacing: 3px;

}

.title h5 {
    width:100%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight:normal;
    color:#2d3c49;
    letter-spacing: 1px;

}
.title img{

    max-width:45%;

}
.line{
    border-bottom: 2px solid black;
    margin-bottom: 8px;
    margin-top: 8px;
    color: #7d97ad;
}

/*
################
  HERO
################
*/
.hero img{

    width:100%;
    height:5%;


}

/*
################
  PROJECT SECTION
################
*/

.projects{

    display: flex;
    margin-top:10px;
    justify-content: space-between;
    text-align: center;
}

.projects h2{

    margin-bottom:0px;
    margin-top:0px;
    color:#2d3c49;
    width:100%;

}
.projects a{

    margin-bottom:10px;


}
.projects img {
    width:100%;
    height:100%;
    margin-right:10px;
}

.image-1 {
    margin-right: 10px;
}

.image-2 {
    margin-right: 10px;
}